SYNCAI_APP_NAME=SyncAI
SYNCAI_SERVER_HOST=0.0.0.0
SYNCAI_SERVER_PORT=3001
SYNCAI_WEB_PORT=5173
SYNCAI_DATABASE_URL=postgres://syncai:syncai@127.0.0.1:5432/syncai
SYNCAI_REDIS_URL=redis://127.0.0.1:6380
SYNCAI_CODEX_PATH=
SYNCAI_MOCK_AGENT_LATENCY_MS=25
SYNCAI_POSTGRES_DB=syncai
SYNCAI_POSTGRES_USER=syncai
SYNCAI_POSTGRES_PASSWORD=syncai
SYNCAI_POSTGRES_PORT=5432
SYNCAI_REDIS_PORT=6380
